.task {
  background-color: #f4f4f4;
  margin: 5px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.task h3 {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.task .reminder {
  border-left: 5px solid green;
}
