<form (ngSubmit)="onSubmit()"> <!-- with ngSubimit there is no need to use the preventDefault() -->
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Add Task"
      required
      [(ngModel)]="text"
    />
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Add Day & Time"
      [(ngModel)]="day"
      required
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      placeholder="Add Reminder"
      [(ngModel)]="reminder"
      required
    />
  </div>
  <button type="submit" class="btn btn-block">Save Task</button>
</form>
